@model ICollection<FreelancePool.Web.ViewModels.Components.FreelancerViewModel>

<div class="wow bounceInDown animated" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
    <div class="section-heading">
        <h3>Freelancers</h3>
        <i class="fa fa-2x fa-angle-down"></i>
    </div>
</div>
@foreach (var freelancer in Model)
{
    @Html.DisplayFor(f => freelancer);
}