@{
    this.ViewData["Title"] = "Manage users";
}

    <div class="container">
        <br />
        <br />
        @if (this.TempData["Success"] != null)
        {
            <div class="alert alert-success text-center">
                <strong>@this.TempData["Success"]</strong>
            </div>
        }
        @if (this.TempData["Error"] != null)
        {
            <div class="alert alert-danger text-center">
                <strong>@this.TempData["Error"]</strong>
            </div>
        }
        <br />
        <div class="row text-center">
            <div class="col-md-3">
                <a class="btn btn-primary" asp-area="Administration" asp-controller="Users" asp-action="RegisterAdmin">
                    Add new administrator
                </a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-primary" asp-area="Administration" asp-controller="Users" asp-action="RemoveAdmin">
                    Delete administrator
                </a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-primary" asp-area="Administration" asp-controller="Users" asp-action="RemoveFreelancer">
                    Delete freelancer
                </a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-primary" asp-area="Administration" asp-controller="Users" asp-action="RemoveUser">
                    Delete user
                </a>
            </div>
        </div>
    </div>