@{
    this.ViewData["Title"] = "Manage users";
}

<div class="container">
    <br />
    <br />
    <br />
    <div class="row text-center">
        <div class="col-md-3">
            <a class="btn btn-primary" asp-area="Administration" asp-controller="Users" asp-action="RegisterAdmin">
                Add new administrator
            </a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-primary" asp-area="Administration" asp-controller="Users" asp-action="RegisterAdmin">
                Remove administrator
            </a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-primary" asp-area="Administration" asp-controller="Users" asp-action="RegisterAdmin">
                Delete freelancer
            </a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-primary" asp-area="Administration" asp-controller="Users" asp-action="RegisterAdmin">
                Delete user
            </a>
        </div>
    </div>
</div>