@{
    this.ViewData["Title"] = "Manage users";
}

    <div class="container">
        <br />
        <br />
        <partial name="_TempDataPartial" />
        <br />
        <div class="row text-center">
            <div class="col-md-3">
                <a class="btn btn-primary" asp-area="Administration" asp-controller="Users" asp-action="RegisterAdmin">
                    Add new administrator
                </a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-primary" asp-area="Administration" asp-controller="Users" asp-action="RemoveAdmin">
                    Delete administrator
                </a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-primary" asp-area="Administration" asp-controller="Users" asp-action="RemoveFreelancer">
                    Delete freelancer
                </a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-primary" asp-area="Administration" asp-controller="Users" asp-action="RemoveUser">
                    Delete user
                </a>
            </div>
        </div>
    </div>