@model RemoveUserInputModel
@using FreelancePool.Web.ViewModels.Administration.Users
@{
    this.ViewData["Title"] = "Remove Freelancer";
}

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="RemoveFreelancer" method="post">
                    @Html.DisplayFor(x => Model)
                </form>
            </div>
        </div>
    </div>
