@model FreelancePool.Web.ViewModels.Projects.ProjectTitleAndAuthorViewModel

<a asp-area="" asp-controller="Projects" asp-action="DetailsById" asp-route-id="@Model.Id">
    <div><strong class="text-post">&#9659;&nbsp;@Model.Title</strong></div>
</a>
<br />