@{
    this.ViewData["Title"] = "Not Found";
}

<div class="freelancers text-center">
    <img src="~/img/error.png" alt="Alternate Text" width="300" height="300" />
    <h4 class="text-danger">@ViewBag.ErrorMessage</h4>
    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">
        Get back to the home page!
    </a>
</div>
<div class="pull-right">Icon made by <a href="https://www.flaticon.com/authors/nikita-golubev" title="Nikita Golubev">Nikita Golubev</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>