@using FreelancePool.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<section id="intro" class="intro container-fluid">
    <div class="slogan">
        <h2>WELCOME TO <span class="text_color">@*@GlobalConstants.SystemName!*@</span> </h2>
        <h2><span class="text_color">@GlobalConstants.SystemName!</span> </h2>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
    <div class="page-scroll">
        <a href="#" class="btn btn-circle">
            <i class="fa fa-angle-double-down animated"></i>
        </a>
    </div>
    <a class="pull-right" style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="https://unsplash.com/@@shotz?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Nicolas Cool"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Nicolas Cool</span></a>
</section>

<section id="about" class="home-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <vc:freelancers></vc:freelancers>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="wow bounceInDown animated" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
                    <div class="section-heading">
                        <h3>Freelancers</h3>
                        <i class="fa fa-2x fa-angle-down"></i>

                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <div class="wow bounceInUp animated" data-wow-delay="0.2s" style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
                        <div class="team boxed-grey">
                            <div class="inner">
                                <h6>Anna Hanaceck</h6>
                                <div class="avatar"><img src="img/team/1.jpg" alt="" class="img-responsive img-circle"></div>
                                <div>Pixel Crafter / Grafic Disigner</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <div class="wow bounceInUp animated" data-wow-delay="0.2s" style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
                        <div class="team boxed-grey">
                            <div class="inner">
                                <h6>Anna Hanaceck</h6>
                                <div class="avatar"><img src="img/team/1.jpg" alt="" class="img-responsive img-circle"></div>
                                <div>Pixel Crafter / Grafic Disigner</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <div class="wow bounceInUp animated" data-wow-delay="0.2s" style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
                        <div class="team boxed-grey">
                            <div class="inner">
                                <h6>Anna Hanaceck</h6>
                                <div class="avatar"><img src="img/team/1.jpg" alt="" class="img-responsive img-circle"></div>
                                <div>Pixel Crafter / Grafic Disigner</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <div class="wow bounceInUp animated" data-wow-delay="0.2s" style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
                        <div class="team boxed-grey">
                            <div class="inner">
                                <h6>Borislav Hanaceck</h6>
                                <div class="avatar"><img src="img/team/1.jpg" alt="" class="img-responsive img-circle"></div>
                                <div>Pixel Crafter / Grafic Disigner</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-100"></div>
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <div class="wow bounceInUp animated" data-wow-delay="0.2s" style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
                        <div class="team boxed-grey">
                            <div class="inner">
                                <h6>Anna Hanaceck</h6>
                                <div class="avatar"><img src="img/team/1.jpg" alt="" class="img-responsive img-circle"></div>
                                <div>Pixel / Crafter / Grafic / jdshjfkshkjfhsjdk </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <div class="wow bounceInUp animated" data-wow-delay="0.2s" style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
                        <div class="team boxed-grey">
                            <div class="inner">
                                <h6>Anna Hanaceck</h6>
                                <div class="avatar"><img src="img/team/1.jpg" alt="" class="img-responsive img-circle"></div>
                                <div>Pixel/ Crafter / Grafic / Disigner</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>